doctype html
html
    head

    body
        div(id="nav")
        div(id="pages")

        script(type="text/javascript")
            != "user = " + JSON.stringify(user)
        script(type="text/javascript" data-main="/static/scripts/src/adminMain" src="/static/scripts/lib/require.js")
