doctype html
html
    head
        link(href="/static/styles/admin.css" rel="stylesheet" type="text/css")
    body
        div(id="nav")
        div(id="pages")

        script(type="text/javascript")
            != "user = " + JSON.stringify(user)
        script(type="text/javascript" data-main="/static/scripts/src/adminMain" src="/static/scripts/lib/require.js")
