doctype html
html
    head
        title Drown The Ave
        link(rel='stylesheet' type='text/css' href='/static/styles/style.css')

    body
        h1 hello world
        if user
            h2 #{user.profile.firstName} #{user.profile.lastName} - #{user._id}
            a(href="/auth/logout") logout
        else
            a(href="/auth/local") login

        ul
            each bar in bars
                li #{bar.name}
