doctype html
html
    head
        title login/signup

    body
        h2 login
        form(method="POST" action="/auth/login")
            input(name="username")
            input(name="password" type="password")
            input(type="submit")

        h2 signup
        form(method="POST" action="/auth/signup")
            input(name="username")
            input(name="password" type="password")
            input(type="submit")

        h2 google
        a(href="/auth/google") sign in with google
