doctype html
html
    head
        title Welcome

    body
        h1 Welcome #{user.profile.firstName}!
        p Eu sunt ut laboris ex laborum voluptate Lorem nostrud.Sint labore pariatur duis tempor sunt adipisicing commodo labore nulla. Proident ipsum anim laborum nostrud velit id deserunt. Qui velit reprehenderit quis deserunt deserunt occaecat labore irure. Lorem aliquip minim sint laborum aliquip nisi id adipisicing proident minim officia. Ea qui in eiusmod reprehenderit labore. Est consectetur ipsum tempor nostrud voluptate sint ut sint amet occaecat cupidatat. Dolor esse incididunt consectetur anim sunt do id velit non aliqua eiusmod duis. Eiusmod adipisicing fugiat culpa cillum irure culpa cillum ea qui do elit amet cillum. Consectetur consectetur et Lorem fugiat ut.

        a(href="/auth/logout") logout
        br
        a(href="/") skip
