!!! 5
header
  .nav
    ul.days
      .person
        h5 Nick Clawson
        img.prof-pic(src='img/prof-pic.jpg')
      li.day Sunday
      li.day Monday
      li.day Tuesday
      li.day Wednesday
      li.day Thursday
      li.day Friday
      li.day Saturday
.container
  h1.bar-title Today's Happy Hour Deals
  .pure-g-r
    .pure-u-1-2
      .bar
        h1 Finn MacCool's
        h2 $1 Wells Drinks
        h3 8PM - 9PM
        h2 $2 Wells Drinks
        h3 9PM - 11PM
        h2 $3 Wells Drinks
        h3 11PM - 1AM
      .bar
        h1 Earl's on the Ave
        h2 $5 PBR Pitchers
        h3 8PM - 9PM
        h2 $5 Drank
        h3 9PM - 22PM
      .bar
        h1 Flowers Bar
        h2 $1 Tequilas
        h3 8PM - 9PM
      .bar
        h1 A Pizza Mart
        h2 $5 Manny's
        h3 8PM - 9PM
      .bar
        h1 B Mart
        h2 $5 Bitch Drank
        h3 8PM - 9PM
    .pure-u-1-2
      .bar
        h1 Schultzy's
        h2 $4 Margaritas
        h3 8PM - 9PM
        h2 $5 Drank
        h3 9PM - 22PM
      .bar
        h1 Dante's
        h2 $4 Devil Drank
        h3 8PM - 9PM
        h2 $5 Drank
        h3 9PM - 22PM
      .bar
        h1 College Inn
        h2 $4 college drank
        h3 8PM - 9PM
        h2 $5 Drank
        h3 9PM - 22PM
      .bar
        h1 Big Ale Brewery
        h2 $4 old drank
        h3 8PM - 9PM
        h2 $5 Drank
        h3 9PM - 22PM
footer
  h3
