form {
    fieldset {
        border: none;
        background: white;
        margin-top: -5px;
    }

    legend {
        background-color: white;
        display: block;
        border: none;
        padding: 10px;
        font-size: 20pt;
        color: rgb(200,200,200);
        margin-bottom: -10px;
    }

    input, .switch {
        display: block;
        margin: 8px;
        padding: 3px;
        font-size: 15pt;
    }

    input[type=text], input[type="email"], input[type="tel"] {
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 4px;
        width: 80%;
    }

    $switchHeight: 40px;
    $switchWidth: 90px;
    $iconHeight: 34px;
    $iconWidth: 40px;
    $iconLeftOffset: 3px;

    .switch {
        display: block;
        width: $switchWidth;
        height: $switchHeight;
        cursor: pointer;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 4px;

        input[type=checkbox] {
            display: none;
        }

        .vis {
            display: block;
            width: $iconWidth;
            height: $iconHeight;
            position: absolute;
            top: ($switchHeight - $iconHeight) / 2;
            left: $iconLeftOffset;
            background: rgb(150,150,150);
            z-index: 2;

            transition: left .15s ease;
        }

        input[type=checkbox]:checked + .vis {
            left: $switchWidth - $iconWidth - $iconLeftOffset;
        }

        &:before, &:after {
            display:block;
    		position:absolute;
    		height: $switchHeight;
            line-height: $switchHeight;
            font-size: .8em;
            z-index: 1;
        }

        &:before {
            content: 'Yes';
            left: 5px;
        }

        &:after {
            content: 'No';
            right: 9px;
        }
    }
}
