hours-picker {
    display: block;
    width: 100%;

    .picker .day {
        font-size: 0px;
        line-height: 0px;
        width: 100%;

        .hour {
            display: inline-block;
            height: 0px;
            width: percentage(1/24);
            padding-top: percentage(1/24);
            background-color: rgb(200,200,200);
            border: solid 1px white;
            cursor: pointer;

            &:hover, &.selected:hover {
                background-color: #4183c4;
            }

            &.selected {
                background-color: red;
            }
        }
    }

    .viewer {
        
    }
}
