@import "_default";
@import "lib/pure";
@import "_nav";
@import "_page";

.page-container {
    background-color: rgb(245,245,245);
}

.cell {
    box-shadow: 0px 2px 2px 1px rgb(200,200,200);
    background-color: white;
    height: 120px;
    padding: 10px;
    margin-top: 2px;

    .inner {
        color: black !important;
        text-decoration: none !important;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }

    &:hover {
        background-color: #4183c4;

        .inner {
            color: white !important;
        }
    }
}
