<div class="list-item cell">

</div>

<div class="list-item cell">
    <label>
        Name:
        <input ng-model="model.name" />
    </label>
    <label>
        Website:
        <input ng-model="model.website" />
    </label>
    <label>
        Latitiude:
        <input ng-model="model.location[1]" />
    </label>
    <label>
        Longitude:
        <input ng-model="model.location[0]" />
    </label>
    <button style="left:300px;" ng-click="model.$save({type: 'bar'})">Submit</button>
</div>

<h1 style="padding:5px 20px;" class="cell">Specials</h1>
<item-list template="/static/partial/item/special-item.html" type="special" options="" />
