<div class="list-item cell">

</div>

<div class="list-item cell">
    <label>
        Name:
        <input ng-model="model.name" />
    </label>
    <label>
        Website:
        <input ng-model="model.website" />
    </label>
    <label>
        Latitiude:
        <input ng-model="model.location[1]" />
    </label>
    <label>
        Longitude:
        <input ng-model="model.location[0]" />
    </label>
    <button style="left:300px;" ng-click="model.$save({type: 'bar'})">Submit</button>
</div>

<h2>Specials</h2>
