<div class="collection-options cell list-item">
    <label>
        Sort:
        <select ng-model="sort">
            <option ng-repeat="sort in sortOptions" ng-model="sort">{{sort}}</option>
        </select>
    </label>

    <label>
        Order:
        <select ng-model="order">
            <option value="asc" selected>ascending</option>
            <option value="desc">descending</option>
        </select>
    </label>

    <label>
        Search:
        <input value="search" ng-model="search"/>
    </label>

    <button style="left:300px;" ng-click="load()">search</button>
</div>
<item-list template="{{itemUrl}}" options="listOptions" type="{{type}}"/>
