<div class="cell title">
    <h1>Edit User</h1>
    <a href="/admin/user/{{model.id}}/delete">delete</a>
    <button ng-click="submit()">Submit</button>
</div>

<div class="list-item cell">
    <image-drop ng-model="model" c-width="100" c-height="100"/>
</div>

<div class="list-item cell">
    <label>
        First Name:
        <input ng-model="model.profile.firstName"></input>
    </label>
    <label>
        Last Name:
        <input ng-model="model.profile.lastName"></input>
    </label>
    <label>
        Email:
        <input ng-model="model.profile.email"></input>
    </label>
    <label>
        Phone:
        <input ng-model="model.profile.phone"></input>
    </label>
    <label>
        Admin:
        <input type="checkbox" ng-model="model.isAdmin"></input>
    </label>
    <label>
        New:
        <input type="checkbox" ng-model="model.profile.new"></input>
    </label>
</div>

<div class="list-item cell">
    <label>
        Latitude:
        <input type="number" ng-model="model.location[1]"></input>
    </label>
    <label>
        Longitude:
        <input type="number" ng-model="model.location[0]"></input>
    </label>
</div>
