<div class="formContainer pure-u-1-2">
    <form id="form" method="POST">
        <fieldset class="cell padded">
            <legend>name</legend>
            <input name="first" type="text" placeholder="first" value="<%-profile.firstName%>">
            <input name="last" type="text" placeholder="last" value="<%-profile.lastName%>">
        </fieldset>

        <fieldset class="cell padded">
            <legend>contact</legend>
            <input name="email" type="email" placeholder="email" value="<%-profile.email%>">
            <input name="phone" type="tel" placeholder="phone" value="<%-profile.phone%>">
        </fieldset>

        <fieldset class="cell padded">
            <legend>toggle</legend>
            <label class="switch">
                <input name="new" type="checkbox" <%-profile.new ? "checked" : ""%> >
                <div class="vis"></div>
            </label>

            <label class="switch">
                <input name="admin" type="checkbox" <%-isAdmin ? "checked" : ""%> >
                <div class="vis"></div>
            </label>
        </fieldset>

        <input name="picture" type="hidden" value=""/>
    </form>
</div>

<div class="imageContainer pure-u-1-2">
    <div class="cell padded">
        <div class="image-upload"></div>
    </div>
    <fieldset class="cell padded">
        <legend>submit</legend>
        <button form="form" type="reset">reset</button>
        <button form="form" type="submit">submit</button>
    </fieldset>
</div>
